# --- SEGURIDAD H2O CONTROL (Claves y Entorno) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# --- DEPENDENCIAS ---
node_modules/

# --- EXPO & METRO ---
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# --- NATIVE (Android / iOS builds) ---
/ios
/android
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*
.kotlin/

# --- DEBUG & LOGS ---
npm-debug.*
yarn-debug.*
yarn-error.*
logs/
*.log

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- TYPESCRIPT ---
*.tsbuildinfo
# --- FIREBASE NATIVE CONFIG (Opcional pero recomendado) ---
google-services.json
GoogleService-Info.plist